body {
  color: #222;
  background: #fff;
  font: 100% system-ui;
  width: fit-content;
  margin: auto;
}
a {
  color: #0033cc;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #eee;
    background: #121212;
  }

  textarea {
    color: #eee;
    background: #121212;
  }

  a {
    color: #809fff;
  }
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

textarea {
  width: 640px;
  min-height: 640px;
  height: 100%;
}
